
<form action="/components/catalog.detail/response.json" method="GET">
  <div class="modal-body">
    <p>Товар в другом магазине должен быть идентичным по цвету и размеру и в наличии.</p>
    <div class="form-group">
      <label>Как к Вам обращаться?</label>
      <input type="text" name="USER_NAME" maxlength="50" value="" required="" class="bx-auth-input form-control"/>
    </div>
    <div class="form-group">
      <label>Контактный телефон</label>
      <input type="tel" name="USER_TEL" maxlength="50" value="" required="" class="bx-auth-input form-control"/>
    </div>
    <div class="form-group">
      <label>Электронная почта</label>
      <input type="mail" name="USER_EMAIL" maxlength="50" value="" required="" class="bx-auth-input form-control"/>
    </div>
    <div class="form-group">
      <label>Название товара</label>
      <input type="text" name="GOOD_TITLE" maxlength="50" value="" required="" class="bx-auth-input form-control"/>
    </div>
    <div class="form-group">
      <label>Ссылка на товар другого магазина*</label>
      <input type="text" name="GOOD_LINK" maxlength="50" value="" required="" class="bx-auth-input form-control"/>
    </div>
  </div>
  <div class="modal-footer text-center">
    <button type="submit" class="btn btn-default">Отправить</button>
    <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default i-gray">Продолжить покупки</button>
  </div>
  <script>window.lowPriceOrderId = "SOME_ID"</script>
</form>