.btn-default,
.popup-window-buttons .bx_bt_button
  color #fff !important
  background-color #5d33a5 !important
  border-color #5d33a5 !important

.btn-default
  font-size .75rem !important

.btn.i-gray, .btn.i-gray:focus, .btn.i-gray:active
  border-color #f2f2f2 !important
  background-color #f2f2f2 !important
  color #000 !important

.btn.i-gray:hover
  border-color #000 !important
  background-color #000 !important
  color #fff !important