.ob-catalog-menu
  div(class="ob-catalog-menu__block")
    #footerMenuCatalogSection
    div(class="ob-catalog-menu__item")
      a(href="/catalog/solntsezashchitnye_ochki/" class="ob-catalog-menu__link ") Каталог
      .ob-catalog-menu-sub
        a(href="/catalog/solntsezashchitnye_ochki/alexander_mcqueen/" class="ob-catalog-menu-sub__item") Солнцезащитные очки
        a(href="/catalog/solntsezashchitnye_ochki/andy_wolf/" class="ob-catalog-menu-sub__item") Оправы
        a(href="/catalog/solntsezashchitnye_ochki/balenciaga/" class="ob-catalog-menu-sub__item") Контактные линзы
        a(href="/catalog/solntsezashchitnye_ochki/belstaff/" class="ob-catalog-menu-sub__item") Аксессуары
        a(href="/catalog/solntsezashchitnye_ochki/bottega_veneta/" class="ob-catalog-menu-sub__item") Аутлет
        a(href="/catalog/solntsezashchitnye_ochki/boucheron/" class="ob-catalog-menu-sub__item") Подарочные сертификаты
        a(href="/catalog/solntsezashchitnye_ochki/brevno/" class="ob-catalog-menu-sub__item") Распродажа
    div(class="ob-catalog-menu__item")
      a(href="/catalog/opravy/" class="ob-catalog-menu__link ") Наши предложения
      .ob-catalog-menu-sub
        a(href="/catalog/opravy/" class="ob-catalog-menu-sub__title")
          b Все оправы
        a(href="/catalog/opravy/7th_street/" class="ob-catalog-menu-sub__item") 7th Street
    div(class="ob-catalog-menu__item")
      a(href="/catalog/kontaktnye_linzy/" class="ob-catalog-menu__link ") Услуги и сервис
      .ob-catalog-menu-sub
        a(href="/catalog/kontaktnye_linzy/adria/" class="ob-catalog-menu-sub__item") ADRIA
    div(class="ob-catalog-menu__item")
      a(href="/catalog/sale/" class="ob-catalog-menu__link i-link") Контакты