@import '../../styl/component-include.styl'

#footer-mobile {
	display: none;
	background-color: #212121;
	padding: 30px 0 60px;
}
#OBFooterCatalogMenu {
  background-color: #212121;
  font-size: 14px;
  margin: -30px 0 30px;
}
#OBFooterCatalogMenu a {
    color: #fff;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    text-decoration: none;
}
#OBFooterCatalogMenu a:visited,
#OBFooterCatalogMenu a:active {
    color: #fff;
}
#OBFooterCatalogMenu a:hover {
    color: #fff;
}
.footer-mobile__logo {
	width: 150px;
	margin: 55px auto 30px;
	display: block;
}
.footer-mobile__logo img {
	width: 100%;
	height: auto;
}
#footer-mobile p {
	color: #fff;
	line-height: 19px;
  padding: 0 35px;
  margin-bottom 15px
}
#footer-mobile p a {
	display: block;
	color: #fff;
	text-decoration: none;
}
.footer-mobile__social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	margin: 40px 0 30px;
}
.footer-mobile__social a {
	width: 64px;
	height: 64px;
	flex-shrink: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.footer-mobile__cards {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	margin-bottom: 40px;
}
.footer-mobile__cards a {
	width: 70px;
	height: 44px;
	flex-shrink: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.footer-mobile__copy {
	text-align: center;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	padding: 0 50px;
	line-height: 19px;
}

#brandsModalContnent {
  columns: 3;
  font-size: 12px;
  line-height: 1.2;
}
#brandsModalContnent div {
  margin-bottom 5px;
  padding-right: 10px;
}

@media(max-width: 767px) {
	.bj-page-footer {
		display: none;
	}
	#footer-mobile {
		display: block;
	}
	#footer-mobile .ob-catalog-menu__block {
		display: block;
		background-color: #333333;
	}
}

@media( max-width: 1024px) {
  #OBFooterCatalogMenu .ob-catalog-menu {
    overflow: hidden;
    border-bottom: 1px solid #333333;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__link {
    display: block;
    height: 58px;
    line-height: 58px;
    margin-bottom: 1px;
    padding: 0 35px;
    font-size: 15px;
    position: relative;
    background-color: #212121;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__link:focus,
  #OBFooterCatalogMenu .ob-catalog-menu__link:hover,
  #OBFooterCatalogMenu .ob-catalog-menu__link:active {
    opacity 1 !important
  }
  #OBFooterCatalogMenu a.ob-catalog-menu__link {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__link:not(.i-link):after {
    content: '';
    display: block;
    position: absolute;
    top: 24px;
    right: 25px;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    z-index: 1;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__link:not(.i-link):before {
    content: '';
    display: block;
    position: absolute;
    top: 24px;
    left: 25px;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    opacity: 0;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    z-index: 1;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__link span {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    height: auto;
    line-height: normal;
    opacity: 0;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    color: #fff;
    z-index: 1;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__link i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -2px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  #OBFooterCatalogMenu .ob-catalog-menu__item.active .ob-catalog-menu__link {
    padding-left: 67px;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__item.active .ob-catalog-menu__link:after {
    opacity: 0;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__item.active .ob-catalog-menu__link:before {
    opacity: 1;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__item.active .ob-catalog-menu__link span {
    opacity: 1;
    z-index: 10;
  }

  #OBFooterCatalogMenu .ob-catalog-menu-sub {
    display: none;
    margin-bottom: 1px;
    max-height: 395px;
    overflow-y: auto;
    background-color: #212121;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__item.active .ob-catalog-menu-sub {
  }
  #OBFooterCatalogMenu .ob-catalog-menu-sub__title,
  #OBFooterCatalogMenu .ob-catalog-menu-sub__item {
    display: block;
    height: 35px;
    padding-left: 67px;
    font-size: 15px;
    box-sizing: content-box;
  }
  #OBFooterCatalogMenu .ob-catalog-menu-sub :first-child {
    text-transform: none;
    padding-top: 20px;
  }
  #OBFooterCatalogMenu .ob-catalog-menu-sub__item:last-child {
    padding-bottom: 20px;
  }
}

@media( min-width: 1025px ) {
  #OBFooterCatalogMenu .ob-catalog-menu {
    display: flex;
    height: 64px;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__item {
    height: 64px;
    line-height: 64px;
    padding: 0 24px;
  }
  #OBFooterCatalogMenu .ob-catalog-menu-sub,
  #OBFooterCatalogMenu .ob-catalog-menu__title,
  #OBFooterCatalogMenu .ob-catalog-menu__link span {
    display: none;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__block {
    display: flex;
  }
}
@media( max-width: 419px ) {
  /*#OBFooterCatalogMenu .ob-catalog-menu__title a,
  #OBFooterCatalogMenu .ob-catalog-menu__link {
    padding: 0 12px;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__link:after,
  #OBFooterCatalogMenu .ob-catalog-menu__link span {
    right: 13px;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__sandwich-icon {
    margin-right: 13px;
  }
  #OBFooterCatalogMenu .ob-catalog-menu__link:before {
    left: 25px;
  }*/
  #OBFooterCatalogMenu a.ob-catalog-menu__link:hover,
  #OBFooterCatalogMenu a.ob-catalog-menu__link:focus {
    opacity: 1;
  }
}