@import '../../styl/component-include.styl'

.b-stories

  &__preview
    display flex
    justify-content space-between

    &__item
      width calc( (100% - 30px * 5) / 6 )
      flex-shrink 0
      cursor pointer
      transition( opacity .3s ease )

      &:hover,
      &.i-visited
        opacity .7

    &__img
      background-repeat no-repeat
      background-position center
      background-size cover
      margin 0 auto 22px
      width 128px
      height 128px
      border-radius 50%

    &__text
      text-align center
      font-size 0.88rem
      line-height 1.2
      max-height 45px
      overflow hidden

  &__gallery
    background-color rgba(0,0,0,.8)
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    display flex
    align-items center
    z-index 1000

    &__close
      position absolute
      top 40px
      right 40px
      width 20px
      height 20px
      cursor pointer

      &:before
        content ''
        display block
        position absolute
        height 27px
        border-right 1px solid #fff
        transform(rotate(45deg))
        top -4px
        left 10px
        z-index 1

      &:after
        content ''
        display block
        position absolute
        height 27px
        border-right 1px solid #fff
        transform(rotate(-45deg))
        top -4px
        left 10px
        z-index 1

#storiesGallery
  width 100%

  .swiper-slide
    text-align center

.b-stories-card
  position relative

  &__media
    padding-top 162%
    background-repeat no-repeat
    background-position center
    background-size cover
    position relative
    z-index 1

  &__author
    position absolute
    top 19px
    left 15px
    width 32px
    height 32px
    border-radius 50%
    background-repeat no-repeat
    background-position center
    background-size cover
    z-index 2

  &__title
    color #fff
    font-size $14px
    overflow hidden
    max-height 57px
    position absolute
    top 23px
    left 66px
    width calc( 100% - 66px - 28px )
    text-align left
    z-index 3

  &__button
    position absolute
    bottom 31px
    left 0
    width 100%
    text-align center
    z-index 4

    .btn-default
      border 0
      font-size $16px
      background #ffffffB3
      color #333
      width 60%
      max-width 207px
      box-sizing border-box
      height 41px
      line-height 41px

  &__progress-line
    margin-right -1px
    position absolute
    top 0
    left 0
    width 100%
    display flex
    justify-content space-between
    z-index 5

    div
      background-color #fff
      height 4px
      margin-right 1px
      width 100%
      flex-shrink 1
  

  