
<!-- start /components/header_optic-street/-->
<link rel="stylesheet" href="/components/header_optic-street/style.css"/>
<script src="/components/header_optic-street/script.js"></script>
<script>window.menuAjaxPath = '/components/header_optic-street/header-menu-mobile.html'</script>
<div id="headerOS">
  <header class="bj-page-header i-load">
    <section class="bj-page-header__top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-3 col-sm-3 visible-sm-block visible-xs-block"><a href="#" class="ob-menu-sandwich bj-nav-button"><span style="background-image: url( '/template/images/headers/header_optic-street/menu.svg' );" class="bj-menu-icon"></span></a></div>
          <div class="col-md-6 col-sm-6 col-xs-6 bj-logo-space"><span class="bj-logo"><img src="/template/images/logo-os.svg" width="220" alt="Optic Street"/></span>
            <script>
              window.addEventListener('load', () => {
               //load header-address
               (async () => {
                 try {
                   let response = await fetch(`/components/header-address/template.html`);
                  let html = await response.text();
                  const headerAddress = document.createElement('span');
                  headerAddress.innerHTML = html;
                  document.querySelector('.bj-logo').after(headerAddress);
                  let s = document.createElement('script'); s.src = "/components/header-address/script.js"; document.head.appendChild(s);
                } catch (err) {
                  throw err;
                }
               })();
              });
            </script>
          </div>
          <div class="col-md-6 col-sm-3 col-xs-3 text-right"><span class="bj-page-header__search">
              <form action="/catalog/"><span style=" background-image: url( '/template/images/headers/header_optic-street/search.svg' );" class="bj-page-header__search-icon"></span>
                <input id="title-search-input" type="search" name="q" size="23" maxlength="50" autocomplete="off" value="" placeholder="Поиск по каталогу" class="bj-page-header__search__input form-control"/>
                <input name="s" type="hidden" value=""/>
              </form>
              <div class="bj-page-header__search-close"></div></span>
            <div id="personal_menu" class="bj-personal hidden-sm hidden-xs">
              <div style="background-image: url( '/upload/logo-pomidor.jpg' );" class="bj-personal-icon"></div>
            </div><span id="sale-basket-basket-line-container"><a id="bx_cart_block" href="/personal/cart/" class="bj-cart-icon"><span style=" background-image: url( '/template/images/headers/header_optic-street/basket.svg' );" class="b-shopping-cart"></span><span id="bx_cart_num" class="bj-cart-icon__num">0</span></a></span><a href="#" data-toggle="modal" data-target="#myModal" class="bj-earphone-icon"><span style="background-image: url( '/template/images/headers/header_optic-street/phone.svg' );"></span></a>
          </div>
        </div>
      </div>
    </section>
    <section class="bj-page-header__sub hidden-sm hidden-xs">
      <div class="container-fluid">
        <div class="bj-page-header__sub-wrapper">
          <div class="bj-page-header__sub-item i-menu"><a href="/catalog/">Солнцезащитные очки</a>
            <div class="bj-page-header__sub-menu">
              <div class="row">
                <div class="col-sm-2">
                  <div class="h5">Бренды</div>
                  <ul> 
                    <li> <a href="">Ray-Ban</a></li>
                    <li> <a href="">Dolce & Gabbana</a></li>
                    <li> <a href="">Prada</a></li>
                    <li> <a href="">Miu Miu</a></li>
                    <li> <a href="">Vogue</a></li>
                    <li> <a href="">Emporio Armani</a></li>
                    <li> <a href="">Armani Exchange</a></li>
                    <li> <a href="">Carrera</a></li>
                    <li> <a href="">Polaroid</a></li>
                    <li> <a href="">Versace</a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <div class="h5">Популярные модели</div>
                  <ul> 
                    <li> <a href="">Новая коллекция 2020</a></li>
                    <li> <a href="">Ray Ban оригинал</a></li>
                    <li> <a href="">Мужские</a></li>
                    <li> <a href="">Женские</a></li>
                    <li> <a href="">Зеркальные</a></li>
                    <li> <a href="">Детские</a></li>
                    <li> <a href="">GiGi Hadid</a></li>
                    <li> <a href="">Недорогие очки</a></li>
                    <li> <a href="">Круглые</a></li>
                    <li> <a href="">Брендовые</a></li>
                    <li> <a href="">Из поликарбоната</a></li>
                    <li> <a href="">Фотохромные</a></li>
                    <li> <a href="">Женские Ray Ban</a></li>
                    <li> <a href="">Капли</a></li>
                    <li> <a href="">Стеклянные</a></li>
                    <li> <a href="">Бабочки</a></li>
                    <li> <a href="">Кошачий глаз</a></li>
                    <li> <a href="">Градиентные</a></li>
                    <li> <a href="">Поляризационные</a></li>
                    <li> <a href="">Большие</a></li>
                    <li> <a href="">Новинки Ray Ban</a></li>
                    <li> <a href="">Авиаторы</a></li>
                    <li> <a href="">Антибликовые</a></li>
                    <li> <a href="">Круглые мужские</a></li>
                    <li> <a href="">Из натуральной кожи</a></li>
                    <li> <a href="">Овальные</a></li>
                    <li> <a href="">Для водителя</a></li>
                    <li> <a href="">Спортивные</a></li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <div class="h5">Коллекции</div>
                  <div class="row"> 
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                  </div>
                  <hr/>
                  <div class="row"> 
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bj-page-header__sub-item i-menu"><a href="/lookbook/">Оправы</a>
            <div class="bj-page-header__sub-menu">
              <div class="row">
                <div class="col-sm-2">
                  <div class="h5">Бренды</div>
                  <ul> 
                    <li> <a href="">Ray-Ban</a></li>
                    <li> <a href="">Dolce & Gabbana</a></li>
                    <li> <a href="">Prada</a></li>
                    <li> <a href="">Miu Miu</a></li>
                    <li> <a href="">Vogue</a></li>
                    <li> <a href="">Emporio Armani</a></li>
                    <li> <a href="">Armani Exchange</a></li>
                    <li> <a href="">Carrera</a></li>
                    <li> <a href="">Polaroid</a></li>
                    <li> <a href="">Versace</a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <div class="h5">Популярные модели</div>
                  <ul> 
                    <li> <a href="">Новая коллекция 2020</a></li>
                    <li> <a href="">Ray Ban оригинал</a></li>
                    <li> <a href="">Мужские</a></li>
                    <li> <a href="">Женские</a></li>
                    <li> <a href="">Зеркальные</a></li>
                    <li> <a href="">Детские</a></li>
                    <li> <a href="">GiGi Hadid</a></li>
                    <li> <a href="">Недорогие очки</a></li>
                    <li> <a href="">Круглые</a></li>
                    <li> <a href="">Брендовые</a></li>
                    <li> <a href="">Из поликарбоната</a></li>
                    <li> <a href="">Фотохромные</a></li>
                    <li> <a href="">Женские Ray Ban</a></li>
                    <li> <a href="">Капли</a></li>
                    <li> <a href="">Стеклянные</a></li>
                    <li> <a href="">Бабочки</a></li>
                    <li> <a href="">Кошачий глаз</a></li>
                    <li> <a href="">Градиентные</a></li>
                    <li> <a href="">Поляризационные</a></li>
                    <li> <a href="">Большие</a></li>
                    <li> <a href="">Новинки Ray Ban</a></li>
                    <li> <a href="">Авиаторы</a></li>
                    <li> <a href="">Антибликовые</a></li>
                    <li> <a href="">Круглые мужские</a></li>
                    <li> <a href="">Из натуральной кожи</a></li>
                    <li> <a href="">Овальные</a></li>
                    <li> <a href="">Для водителя</a></li>
                    <li> <a href="">Спортивные</a></li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <div class="h5">Коллекции</div>
                  <div class="row"> 
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                  </div>
                  <hr/>
                  <div class="row"> 
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                    <div class="col-sm-4"><a href=""><img src="/upload/1.jpg" alt=""/><span class="text-center">Ray-Ban Aviator</span></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bj-page-header__sub-item i-menu i-dropdown"><a href="/catalog/">Распродажа</a>
            <div class="bj-page-header__sub-menu i-dropdown">
              <ul> 
                <li> <a href="">Солнцезащитные очки</a></li>
                <li> <a href="">Оправы</a></li>
              </ul>
            </div>
          </div>
          <div class="bj-page-header__sub-item"><a href="/catalog/">Блог</a></div>
          <div class="bj-page-header__sub-item"><a href="/catalog/">Доставка и оплата</a></div>
          <div class="bj-page-header__sub-item i-menu i-dropdown"><a href="/catalog/">О компании</a>
            <div class="bj-page-header__sub-menu i-dropdown">
              <ul> 
                <li> <a href="">Сертификаты</a></li>
                <li> <a href="">Примерочная</a></li>
                <li> <a href="">Новости</a></li>
                <li> <a href="">FAQ</a></li>
                <li> <a href="">Отзывы</a></li>
                <li> <a href="">Шоу-рум</a></li>
              </ul>
            </div>
          </div>
          <div class="bj-page-header__sub-item"><a href="/catalog/">Контакты</a></div>
        </div>
      </div>
    </section>
    <section id="cartDropdown" data-url="/ajax-response/header-cart-dropdown-ajax.html" data-method="GET" class="bj-page-header__cart-dropdown">
      <div class="i-relative">
        <article>
          <div class="container-fluid"></div>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </article>
      </div>
    </section>
    <section id="userDropdown" class="bj-page-header__user-dropdown">
      <div class="i-relative">
        <article>
          <div class="container-fluid"><a href="">Войти</a><a href="">Регистрация</a>
            <hr/><a href="">tatiana</a><a href="">Мои заказы</a><a href="">Выйти</a>
          </div>
        </article>
      </div>
    </section>
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"></button>                  
            <h2 id="myModalLabel" class="modal-title text-center">&Ncy;&acy;&shcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;</h2>
          </div>                
          <div class="modal-body text-center">
            <div class="bj-text-x-large">8 (495) 212 85 06</div>                  
            <div class="small">&Pcy;&ncy;-&Vcy;&scy; 10-19</div>
          </div>                
          <div style="display:none" class="modal-footer text-center">
            <button type="button" class="btn btn-default">&Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;</button>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<div id="OBCatalogMenu">
  <div class="limiter ob-catalog-menu">
    <div class="ob-catalog-menu__title"></div>
  </div>
</div>
<div style="top: 415px; left: 0; display: none;" class="ob-search-result"><a href="">Солнцезащитные <b>очк</b>и</a><a href="">Стеклянные очки</a><a href="">Очки Emporio Armani</a><a href="">Очки Emporio Armani</a></div>
<!-- end /components/header_optic-street/-->