
<div itemscope="" itemtype="http://schema.org/Product" class="b-catalog-element">
  <div class="b-catalog-element__top">
    <div class="b-catalog-element__props-icons">
      <div style="color: #ca3538; border-color: #ca3538;" class="b-prop">35%</div>
      <div style="color: #528b16; border-color: #528b16;" class="b-prop">Рекомендуем</div>
      <div style="color: #f09e00; border-color: #f09e00;" class="b-prop">Хит</div>
      <div style="color: #8e42b1; border-color: #8e42b1;" class="b-prop">Акция</div>
      <div style="color: #8e42b1; border-color: #8e42b1;" class="b-prop">Новинка</div>
    </div>
    <div data-original="/upload/catalog.collection/1.jpg" itemprop="image" class="b-catalog-element__img"><a href="" data-original="/upload/catalog.collection/2.jpg" itemprop="image" class="b-catalog-element__img-hover"></a></div>
  </div>
  <div class="b-catalog-element__right"><a href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" class="b-catalog-element__title">Домашние тапочки O'Neil Домашние тапочки O'Neil</a>
    <hr class="i-line"/>
    <hr/>
    <div class="b-catalog-element__price">2000 руб.</div>
    <div class="b-catalog-element__bottom">
      <div>
        <div class="b-catalog-element__price">2000 руб.</div>
        <div class="b-catalog-element__button"><a href="/personal/cart/" data-ajax-url="/components/catalog.detail/buy.json" class="btn btn-default btn-size-S"><span class="i-show">Купить</span><span>В корзине</span></a></div>
        <div class="b-catalog-element__subscribe"><a href="#" data-toggle="modal" data-target="#subscribeModal" data-ajax-url="/components/catalog.collection/subscribe.html?somedata=value" class="btn btn-default btn-size-S">Подписаться</a></div>
      </div>
      <hr class="i-size-S"/>
      <div class="b-catalog-element__propList-block"></div>
      <hr class="i-size-S"/>
      <div class="b-catalog-element__num"><span class="i-1">В наличии <span>34</span> шт.</span><span class="i-0">Нет в наличии</span></div>
      <hr class="i-size-S"/>
      <div class="b-catalog-element__props">
        <div>Материал трикотаж</div>
        <div class="catalogElementProperty1">Артикул <span>177-79-05</span></div>
        <div class="catalogElementProperty2">Код <span>89919381234</span></div>
        <div class="catalogElementProperty1">Артикул <span>177-79-05</span></div>
        <div class="catalogElementProperty2">Код <span>89919381234</span></div>
        <div class="catalogElementProperty1">Артикул <span>177-79-05</span></div>
        <div class="catalogElementProperty2">Код <span>89919381234</span></div>
        <div class="catalogElementProperty1">Артикул <span>177-79-05</span></div>
        <div class="catalogElementProperty2">Код <span>89919381234</span></div>
        <div class="catalogElementProperty1">Артикул <span>177-79-05</span></div>
        <div class="catalogElementProperty2">Код <span>89919381234</span></div>
      </div>
    </div>
  </div>
  <div data-actual-item="2038" data-prop-list="[{&amp;quot;type&amp;quot;:&amp;quot;color&amp;quot;,&amp;quot;code&amp;quot;:&amp;quot;color_ref&amp;quot;,&amp;quot;name&amp;quot;:&amp;quot;Цвет&amp;quot;},{&amp;quot;type&amp;quot;:&amp;quot;list&amp;quot;,&amp;quot;code&amp;quot;:&amp;quot;sizes_shoes&amp;quot;,&amp;quot;name&amp;quot;:&amp;quot;Размеры обуви&amp;quot;},{&amp;quot;type&amp;quot;:&amp;quot;list&amp;quot;,&amp;quot;code&amp;quot;:&amp;quot;sizes_clothes&amp;quot;,&amp;quot;name&amp;quot;:&amp;quot;Размеры одежды &amp;quot;},{&amp;quot;type&amp;quot;:&amp;quot;list&amp;quot;,&amp;quot;code&amp;quot;:&amp;quot;lenght&amp;quot;,&amp;quot;name&amp;quot;:&amp;quot;Длина&amp;quot;},{&amp;quot;type&amp;quot;:&amp;quot;list&amp;quot;,&amp;quot;code&amp;quot;:&amp;quot;weight&amp;quot;,&amp;quot;name&amp;quot;:&amp;quot;Ширина&amp;quot;},{}]" data-category="Мужчинам/Рубашки" data-brand="" class="b-catalog-element__data">
    <div data-id="2038" data-color-color_ref="http://seller-assembly170.2px.ru/upload/uf/d40/d40ea7b116c69c19b0a51710d86fb94e.jpg" data-list-sizes_shoes="44" data-list-sizes_clothes="" data-list-lenght="" data-list-weight="" data-price="20&amp;nbsp;000 руб." data-cur="RUB" data-photo="http://seller-assembly170.2px.ru/upload/iblock/f6a/f6a7854a06da63643c886948ad3857f7.jpg" data-big-photo="http://seller-assembly170.2px.ru/upload/iblock/f6a/f6a7854a06da63643c886948ad3857f7.jpg" data-available="Y" data-subscribe="N" data-num="0" data-num-type="N" data-num-num="0" data-incart="N"></div>
    <div data-id="2037" data-color-color_ref="http://seller-assembly170.2px.ru/upload/uf/d40/d40ea7b116c69c19b0a51710d86fb94e.jpg" data-list-sizes_shoes="42" data-list-sizes_clothes="" data-list-lenght="" data-list-weight="" data-price="20&amp;nbsp;000 руб." data-cur="RUB" data-photo="http://seller-assembly170.2px.ru/upload/iblock/92c/92c7a498fe19d9b09a7fd2581c1d5465.jpg" data-big-photo="http://seller-assembly170.2px.ru/upload/iblock/92c/92c7a498fe19d9b09a7fd2581c1d5465.jpg" data-available="Y" data-subscribe="N" data-num="0" data-num-type="N" data-num-num="0" data-incart="N"></div>
    <div data-id="2039" data-color-color_ref="http://seller-assembly170.2px.ru/upload/uf/422/42286b95d6227e8a3ec22b3efdd12194.jpg" data-list-sizes_shoes="42" data-list-sizes_clothes="" data-list-lenght="" data-list-weight="" data-price="21&amp;nbsp;000 руб." data-cur="RUB" data-photo="http://seller-assembly170.2px.ru/upload/iblock/999/99986a265647b9953fb5833d86749bfe.jpg" data-big-photo="http://seller-assembly170.2px.ru/upload/iblock/999/99986a265647b9953fb5833d86749bfe.jpg" data-available="Y" data-subscribe="N" data-num="0" data-num-type="N" data-num-num="0" data-incart="N"></div>
    <div data-id="2040" data-color-color_ref="http://seller-assembly170.2px.ru/upload/uf/422/42286b95d6227e8a3ec22b3efdd12194.jpg" data-list-sizes_shoes="44" data-list-sizes_clothes="" data-list-lenght="" data-list-weight="" data-price="21&amp;nbsp;000 руб." data-cur="RUB" data-photo="http://seller-assembly170.2px.ru/upload/iblock/771/771c0526cd7340d180f117c915ea4d26.jpg" data-big-photo="http://seller-assembly170.2px.ru/upload/iblock/771/771c0526cd7340d180f117c915ea4d26.jpg" data-available="Y" data-subscribe="N" data-num="0" data-num-type="N" data-num-num="0" data-incart="N"></div>
  </div>
</div>