// start /components/header-address/

link( rel="stylesheet", href="/components/header-address/style.css" )

span.bj-header-address.hidden-sm.hidden-xs( style="opacity: 0; display: none;" )
  span.bj-header-address__title Шоурум на Б.Бронной
  span.bj-header-address__location Москва
  span.bj-header-address__phone +7 985 226 33 63

  span.bj-header-address__dropdown
    span
      b Шоурум на Б.Бронной
      i Москва
      span +7 985 226 33 63
    span
      b Остров в ТРЦ Европейский, 2 этаж
      i Москва
      span +7 985 226 33 63
    span
      b Инетрнет-магазин
      i Москва
      span +7 985 226 33 63
    span
      b Шоурум на Б.Бронной
      i Москва
      span +7 985 226 33 63

// end /components/header-address/