extends ../../layouts/main.jade

block title
  title Catalog full menu | seller
  
block header
  include ../../components/header_optic-street/template

block content

  .container-fluid

    .b-catalog-section

      .row

        .col-md-3.filter
          include ../../components/catalog.fullmenu/template

        hr.visible-sm-block.visible-xs-block.i-size-L

        .col-md-9

