
<!-- start /components/catalog.fullmenu/-->
<link rel="stylesheet" href="/components/catalog.fullmenu/style.css"/>
<script src="/components/catalog.fullmenu/script.js"></script>
<div class="b-catalog-full-menu">
  <div class="b-catalog-full-menu__head">
    <div class="b-catalog-full-menu__title">Название блока, может быть в несколько строчек</div>
    <div style="background-image: url( '/template/images/headers/header_optic-street/menu.svg' );" class="b-catalog-full-menu__icon"></div>
  </div>
  <div class="b-catalog-full-menu__content"><a href="">Мужчинам</a><span>Женщинам</span><a href="">Мальчикам</a><a href="">Девочкам</a><a href="">И т.д.</a></div>
</div>
<!-- end /components/catalog.fullmenu/-->