
<!-- start /components/catalog.colors/-->
<link rel="stylesheet" href="/components/catalog.colors/style.css"/>
<script src="/components/catalog.colors/script.js"></script>
<link href="/template/libs/swiper.min.css" rel="stylesheet"/>
<script src="/template/libs/swiper.min.js"></script>
<div class="b-catalog-colors">
  <div class="b-hr-heading">
    <div class="b-hr-heading__content"><span>Другие цвета</span></div>
  </div>
  <div class="swiper-container b-catalog-colors__container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="b-catalog-colors__item"> 
          <div class="b-catalog-element__top">
            <div data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img"><a href="" data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img-hover"></a></div>
          </div>
          <div class="b-catalog-element__right"><a href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" class="b-catalog-element__title">Домашние тапочки O'Neil Домашние тапочки O'Neil</a>
            <hr class="i-line"/>
            <hr/>
            <div class="b-catalog-element__price">13 300 &#8381;</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-catalog-colors__item"> 
          <div class="b-catalog-element__top">
            <div data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img"><a href="" data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img-hover"></a></div>
          </div>
          <div class="b-catalog-element__right"><a href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" class="b-catalog-element__title">Домашние тапочки O'Neil Домашние тапочки O'Neil</a>
            <hr class="i-line"/>
            <hr/>
            <div class="b-catalog-element__price">13 300 &#8381;</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-catalog-colors__item"> 
          <div class="b-catalog-element__top">
            <div data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img"><a href="" data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img-hover"></a></div>
          </div>
          <div class="b-catalog-element__right"><a href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" class="b-catalog-element__title">Домашние тапочки O'Neil Домашние тапочки O'Neil</a>
            <hr class="i-line"/>
            <hr/>
            <div class="b-catalog-element__price">13 300 &#8381;</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-catalog-colors__item"> 
          <div class="b-catalog-element__top">
            <div data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img"><a href="" data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img-hover"></a></div>
          </div>
          <div class="b-catalog-element__right"><a href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" class="b-catalog-element__title">Домашние тапочки O'Neil Домашние тапочки O'Neil</a>
            <hr class="i-line"/>
            <hr/>
            <div class="b-catalog-element__price">13 300 &#8381;</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-catalog-colors__item"> 
          <div class="b-catalog-element__top">
            <div data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img"><a href="" data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img-hover"></a></div>
          </div>
          <div class="b-catalog-element__right"><a href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" class="b-catalog-element__title">Домашние тапочки O'Neil Домашние тапочки O'Neil</a>
            <hr class="i-line"/>
            <hr/>
            <div class="b-catalog-element__price">13 300 &#8381;</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-catalog-colors__item"> 
          <div class="b-catalog-element__top">
            <div data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img"><a href="" data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img-hover"></a></div>
          </div>
          <div class="b-catalog-element__right"><a href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" class="b-catalog-element__title">Домашние тапочки O'Neil Домашние тапочки O'Neil</a>
            <hr class="i-line"/>
            <hr/>
            <div class="b-catalog-element__price">13 300 &#8381;</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-catalog-colors__item"> 
          <div class="b-catalog-element__top">
            <div data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img"><a href="" data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img-hover"></a></div>
          </div>
          <div class="b-catalog-element__right"><a href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" class="b-catalog-element__title">Домашние тапочки O'Neil Домашние тапочки O'Neil</a>
            <hr class="i-line"/>
            <hr/>
            <div class="b-catalog-element__price">13 300 &#8381;</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-catalog-colors__item"> 
          <div class="b-catalog-element__top">
            <div data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img"><a href="" data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img-hover"></a></div>
          </div>
          <div class="b-catalog-element__right"><a href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" class="b-catalog-element__title">Домашние тапочки O'Neil Домашние тапочки O'Neil</a>
            <hr class="i-line"/>
            <hr/>
            <div class="b-catalog-element__price">13 300 &#8381;</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-catalog-colors__item"> 
          <div class="b-catalog-element__top">
            <div data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img"><a href="" data-original="/upload/1.jpg" itemprop="image" class="b-catalog-element__img-hover"></a></div>
          </div>
          <div class="b-catalog-element__right"><a href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" class="b-catalog-element__title">Домашние тапочки O'Neil Домашние тапочки O'Neil</a>
            <hr class="i-line"/>
            <hr/>
            <div class="b-catalog-element__price">13 300 &#8381;</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="b-catalog-colors__item"> 
          <div style="background-image: url( '/upload/1.jpg' );" class="b-catalog-colors__img"></div><a href="" class="b-catalog-colors__title">Солнцезащитные очки Ray-Ban Aviator RB Солнцезащитные очки Ray-Ban Aviator RB</a>
          <div class="b-catalog-colors__price">13 300 &#8381;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-catalog-colors__button text-center">
    <hr class="i-size-L"/>
    <button class="btn btn-default btn-reset"><span>Загрузить еще</span><span>Скрыть</span></button>
  </div>
</div>
<!-- end /components/catalog.colors/-->