extends ../layouts/main.jade

block title
  title Test page | Seller

block content

  link( rel="stylesheet", href="/template/libs/swiper-bundle.min.css" )
  script( src="/template/libs/swiper-bundle.min.js" )

  hr

  include ../components/brands/template

  hr

  include ../components/big-gallery/template