// start /components/catalog.colors/

link( rel="stylesheet", href="/components/catalog.colors/style.css" )
script( src="/components/catalog.colors/script.js" )

include ../../modules/gallery/swiper

.b-catalog-colors

  .b-hr-heading
    .b-hr-heading__content
      span Другие цвета

  .swiper-container.b-catalog-colors__container
    .swiper-wrapper

      .swiper-slide
        .b-catalog-colors__item 
          .b-catalog-element__top
            .b-catalog-element__img( data-original="/upload/1.jpg" itemprop="image" )
              a.b-catalog-element__img-hover( href="" data-original="/upload/1.jpg" itemprop="image" )
          .b-catalog-element__right
            a.b-catalog-element__title( href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" ) Домашние тапочки O'Neil Домашние тапочки O'Neil
            hr.i-line
            hr
            .b-catalog-element__price 13 300 &#8381;

      .swiper-slide
        .b-catalog-colors__item 
          .b-catalog-element__top
            .b-catalog-element__img( data-original="/upload/1.jpg" itemprop="image" )
              a.b-catalog-element__img-hover( href="" data-original="/upload/1.jpg" itemprop="image" )
          .b-catalog-element__right
            a.b-catalog-element__title( href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" ) Домашние тапочки O'Neil Домашние тапочки O'Neil
            hr.i-line
            hr
            .b-catalog-element__price 13 300 &#8381;

      .swiper-slide
        .b-catalog-colors__item 
          .b-catalog-element__top
            .b-catalog-element__img( data-original="/upload/1.jpg" itemprop="image" )
              a.b-catalog-element__img-hover( href="" data-original="/upload/1.jpg" itemprop="image" )
          .b-catalog-element__right
            a.b-catalog-element__title( href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" ) Домашние тапочки O'Neil Домашние тапочки O'Neil
            hr.i-line
            hr
            .b-catalog-element__price 13 300 &#8381;

      .swiper-slide
        .b-catalog-colors__item 
          .b-catalog-element__top
            .b-catalog-element__img( data-original="/upload/1.jpg" itemprop="image" )
              a.b-catalog-element__img-hover( href="" data-original="/upload/1.jpg" itemprop="image" )
          .b-catalog-element__right
            a.b-catalog-element__title( href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" ) Домашние тапочки O'Neil Домашние тапочки O'Neil
            hr.i-line
            hr
            .b-catalog-element__price 13 300 &#8381;

      .swiper-slide
        .b-catalog-colors__item 
          .b-catalog-element__top
            .b-catalog-element__img( data-original="/upload/1.jpg" itemprop="image" )
              a.b-catalog-element__img-hover( href="" data-original="/upload/1.jpg" itemprop="image" )
          .b-catalog-element__right
            a.b-catalog-element__title( href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" ) Домашние тапочки O'Neil Домашние тапочки O'Neil
            hr.i-line
            hr
            .b-catalog-element__price 13 300 &#8381;

      .swiper-slide
        .b-catalog-colors__item 
          .b-catalog-element__top
            .b-catalog-element__img( data-original="/upload/1.jpg" itemprop="image" )
              a.b-catalog-element__img-hover( href="" data-original="/upload/1.jpg" itemprop="image" )
          .b-catalog-element__right
            a.b-catalog-element__title( href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" ) Домашние тапочки O'Neil Домашние тапочки O'Neil
            hr.i-line
            hr
            .b-catalog-element__price 13 300 &#8381;

      .swiper-slide
        .b-catalog-colors__item 
          .b-catalog-element__top
            .b-catalog-element__img( data-original="/upload/1.jpg" itemprop="image" )
              a.b-catalog-element__img-hover( href="" data-original="/upload/1.jpg" itemprop="image" )
          .b-catalog-element__right
            a.b-catalog-element__title( href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" ) Домашние тапочки O'Neil Домашние тапочки O'Neil
            hr.i-line
            hr
            .b-catalog-element__price 13 300 &#8381;

      .swiper-slide
        .b-catalog-colors__item 
          .b-catalog-element__top
            .b-catalog-element__img( data-original="/upload/1.jpg" itemprop="image" )
              a.b-catalog-element__img-hover( href="" data-original="/upload/1.jpg" itemprop="image" )
          .b-catalog-element__right
            a.b-catalog-element__title( href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" ) Домашние тапочки O'Neil Домашние тапочки O'Neil
            hr.i-line
            hr
            .b-catalog-element__price 13 300 &#8381;

      .swiper-slide
        .b-catalog-colors__item 
          .b-catalog-element__top
            .b-catalog-element__img( data-original="/upload/1.jpg" itemprop="image" )
              a.b-catalog-element__img-hover( href="" data-original="/upload/1.jpg" itemprop="image" )
          .b-catalog-element__right
            a.b-catalog-element__title( href="/catalog/detail/" itemprop="name" title="Домашние тапочки O'Neil Домашние тапочки O'Neil" ) Домашние тапочки O'Neil Домашние тапочки O'Neil
            hr.i-line
            hr
            .b-catalog-element__price 13 300 &#8381;

      .swiper-slide
        .b-catalog-colors__item 
          .b-catalog-colors__img( style="background-image: url( '/upload/1.jpg' );")
          a.b-catalog-colors__title( href="" ) Солнцезащитные очки Ray-Ban Aviator RB Солнцезащитные очки Ray-Ban Aviator RB
          .b-catalog-colors__price 13 300 &#8381;

  .b-catalog-colors__button.text-center
    hr.i-size-L
    button.btn.btn-default.btn-reset
      span Загрузить еще
      span Скрыть

// end /components/catalog.colors/