footer.bj-page-footer
  .container-fluid Optic Street — магазин брендовых очков с 2011 года.
    hr
    .row
      menu.col-xs-6.col-sm-4.col-md-2
        li
          a(href='/catalog/solntsezashchitnye_ochki/') Солнцезащитные очки
        li
          a(href='/catalog/opravy/') Оправы
        li
          a(href='/archive/') Архив
        li
          a(href='/about/') О магазине
        li
          a(href='/shops/') Магазины
        li
          a(href='/about/contacts/') Контакты
        li
          a(href='/news/') Блог
      menu.col-xs-6.col-sm-8.col-md-2
        li
          a(href='/about/howto/') Как купить
        li
          a(href='/payment/') Оплата
        li
          a(href='/about/delivery/') Доставка
        li
          a(href='/about/guaranty/') Гарантия
        li
          a(href='/about/rules/') Cоглашение
        li
          a(href='/about/privacy/') Конфиденциальность

      hr.i-size-L.clearfix.visible-sm-block.visible-xs-block
      
      .col-xs-12.col-sm-6.col-md-4.col-md-offset-2
        p Шоурум на Б.Бронной
        p Москва, Большая Бронная, 23с1, офис 104
        p Понедельник − суббота: с 09:00 до 21:00<br>Воскресенье: с 10:00 до 20:00
        p +7 (985) 928-60-55
      hr.i-size-M.clearfix.visible-xs-block
      .col-xs-12.col-sm-6.col-md-2
        a( href="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73582/path=dynamic.150x101/*https://market.yandex.ru/shop--optic-street/459231/reviews")   
          img( src="https://clck.yandex.ru/redir/dtype=stred/pid=47/cid=73581/path=dynamic.150x101/*https://grade.market.yandex.ru/?id=459231&action=image&size=2" border="0" alt="Читайте отзывы покупателей и оценивайте качество магазина Optic Street на Яндекс.Маркете")

    hr.i-size-L

    .row
      .col-sm-12.col-md-6.col-md-offset-6.bj-page-footer__social
        a.bj-icon-link(href='https://www.facebook.com/opticstreet' target='_blank')
          span.bj-icon.bj-icon-link__icon(style='background-image: url(/upload/iblock/fa1/fa15ea962d1f8d4ce47339307a1081e4.png)')
          span.bj-icon-link__link Facebook
        a.bj-icon-link(href='http://instagram.com/optic_street' target='_blank')
          span.bj-icon.bj-icon-link__icon(style='background-image: url(/upload/iblock/2e6/2e67bae5332e56b0ab0c9d4bd1e9e5fc.png)')
          span.bj-icon-link__link Instagram
        a.bj-icon-link(href='https://vk.com/opticstreet' target='_blank')
          span.bj-icon.bj-icon-link__icon(style='background-image: url(/upload/iblock/84e/84ef9398e1d12d18acf3e764acee89bb.png)')
          span.bj-icon-link__link ВКонтакте

    hr
    hr.i-line.i-size-L
    hr
    
    .bj-page-footer__payment
      span(style='background-image: url(/upload/iblock/007/bhb2pag441fu73yyleajxexu34fuqbpw.png)')
      span(style='background-image: url(/upload/iblock/595/zhl5gs95nlhb2e8bc4zt6k2f38o5737h.png)')
      span(style='background-image: url(/upload/iblock/443/d79917ecaqd3oksh3np2442wy44omftt.png)')
      
include ../../modules/preloader/include