extends ../../layouts/main.jade

block title
  title Stories | Seller
  
block header
  include ../../components/header_optic-street/template

block content

  .container-fluid

    include ../../components/stories/template

