.b-catalog-element(itemscope='' itemtype='http://schema.org/Product' id='' data-entity='item' data-id='41760')

  .b-catalog-element__sale-label -10%
  .b-catalog-element__availability-label( style="background-image: url('/template/images/available-y.svg')")

  .b-catalog-element__head
    .b-catalog-element__img( itemprop='image')
      a.b-catalog-element__img-hover(href='/catalog/detail/' itemprop='image' title='PLD P0300 TCS Y2 42')

  .b-catalog-element__body

    .b-catalog-element__props-icons
      .b-prop(style='background-color: #FF0000;') Распродажа

    a.b-catalog-element__title(href='/catalog/detail/' itemprop='name' title='Очки Polaroid  PLD P0300 TCS Y2 42') Очки Polaroid  PLD P0300 TCS Y2 42

    .b-catalog-element__price.i-discount
      span 1&nbsp;530 ₽
      s 2&nbsp;550 ₽

    .b-catalog-element__buttons-block
      .b-catalog-element__button
        a.btn.btn-default.btn-size-S(href='/personal/cart/' data-toggle='modal' data-target='#buyModal' data-ajax-url='')
          span.i-show Купить
          span В корзине
      .b-catalog-element__subscribe.hidden
        a.btn.btn-default.btn-size-S(href='#' data-toggle='modal' data-target='#subscribeModal' data-ajax-url='') Подписаться

  .b-catalog-element__data( data-actual-item='41760' data-prop-list='[{}]' data-category='Солнцезащитные очки' data-brand='')
    div(data-id='41760' data-price='1&nbsp;530 ₽' data-cur='RUB' data-discount-diff='1&nbsp;020 ₽' data-discount-percent='40%' data-old-price='2&nbsp;550 ₽' data-photo='https://optic-street.ru/upload/iblock/f21/qmhwv8blo35wlamnv0cc99djexrvo3lb.jpg' data-big-photo='https://optic-street.ru/upload/resize_cache/iblock/f21/570_570_1/qmhwv8blo35wlamnv0cc99djexrvo3lb.jpg' data-available='Y' data-subscribe='Y' data-num='1' data-num-type='N' data-num-num='1' data-incart='N')