.product-item-small-card.product-item-small-card--hide-elements( data-url="/components/catalog.section/response.html?PAGEN_1=3" )

  include item
  include item-sale
  include item-props
  include item

  include item
  div
  div
  div