extends ./layouts/main.jade

block title
  title Main page | seller

block content

  .container-fluid
    
    hr.i-size-L
    hr.i-size-L
    hr.i-size-L
    
    h1 Optic Street
        
    h2 Шапка
    ul
      li
        a( href="/headers/optic-street/" ) Optic-street