.bj-page-header__sub-menu
  .row
    .col-sm-2
      .h5 Бренды
      ul 
        li 
          a( href="" ) Ray-Ban
        li 
          a( href="" ) Dolce & Gabbana
        li 
          a( href="" ) Prada
        li 
          a( href="" ) Miu Miu
        li 
          a( href="" ) Vogue
        li 
          a( href="" ) Emporio Armani
        li 
          a( href="" ) Armani Exchange
        li 
          a( href="" ) Carrera
        li 
          a( href="" ) Polaroid
        li 
          a( href="" ) Versace

    .col-sm-4
      .h5 Популярные модели
      ul 
        li 
          a( href="" ) Новая коллекция 2020
        li 
          a( href="" ) Ray Ban оригинал
        li 
          a( href="" ) Мужские
        li 
          a( href="" ) Женские
        li 
          a( href="" ) Зеркальные
        li 
          a( href="" ) Детские
        li 
          a( href="" ) GiGi Hadid
        li 
          a( href="" ) Недорогие очки
        li 
          a( href="" ) Круглые
        li 
          a( href="" ) Брендовые
        li 
          a( href="" ) Из поликарбоната
        li 
          a( href="" ) Фотохромные
        li 
          a( href="" ) Женские Ray Ban
        li 
          a( href="" ) Капли
        li 
          a( href="" ) Стеклянные
        li 
          a( href="" ) Бабочки
        li 
          a( href="" ) Кошачий глаз
        li 
          a( href="" ) Градиентные
        li 
          a( href="" ) Поляризационные
        li 
          a( href="" ) Большие
        li 
          a( href="" ) Новинки Ray Ban
        li 
          a( href="" ) Авиаторы
        li 
          a( href="" ) Антибликовые
        li 
          a( href="" ) Круглые мужские
        li 
          a( href="" ) Из натуральной кожи
        li 
          a( href="" ) Овальные
        li 
          a( href="" ) Для водителя
        li 
          a( href="" ) Спортивные

    .col-sm-6
      .h5 Коллекции
      .row 
        .col-sm-4
          a( href="" )
            img( src="/upload/1.jpg" alt="" )
            span.text-center Ray-Ban Aviator
        .col-sm-4
          a( href="" )
            img( src="/upload/1.jpg" alt="" )
            span.text-center Ray-Ban Aviator
        .col-sm-4
          a( href="" )
            img( src="/upload/1.jpg" alt="" )
            span.text-center Ray-Ban Aviator
      hr
      .row 
        .col-sm-4
          a( href="" )
            img( src="/upload/1.jpg" alt="" )
            span.text-center Ray-Ban Aviator
        .col-sm-4
          a( href="" )
            img( src="/upload/1.jpg" alt="" )
            span.text-center Ray-Ban Aviator
        .col-sm-4
          a( href="" )
            img( src="/upload/1.jpg" alt="" )
            span.text-center Ray-Ban Aviator