section#cartDropdown.bj-page-header__cart-dropdown( data-url="/ajax-response/header-cart-dropdown-ajax.html" data-method="GET" )
  .i-relative
      article
        .container-fluid
          .bj-page-header__dropdown-hr
          .row
            .col-sm-9
              p  Последние добавленные товары
              .row
                .col-sm-4
                  .b-cart-dropdown__item
                    span.b-cart-dropdown__item-img( style="background-image: url('/upload/logo-pomidor.jpg');" )
                    div Caliban рубашка  в клетку с длинным названием
                      br
                      b 165 000 рублей
                .col-sm-4
                  .b-cart-dropdown__item
                    span.b-cart-dropdown__item-img( style="background-image: url('/upload/logo-pomidor.jpg');" )
                    div Caliban рубашка  в клетку с длинным названием
                      br
                      b 165 000 рублей
                .col-sm-4
                  .b-cart-dropdown__item
                    span.b-cart-dropdown__item-img( style="background-image: url('/upload/logo-pomidor.jpg');" )
                    div Caliban рубашка  в клетку с длинным названием
                      br
                      b 165 000 рублей
            .col-sm-3
              p.text-right В корзине 7 вещей на сумму 700 000 рублей
              a.btn.btn-default.btn-size-L.btn-100( href="/personal/cart/" ) В корзину