.bj-page-header__sub-menu
  .bj-page-header__sub-menu__content
    .bj-page-header__sub-menu__links
      .bj-page-header__sub-menu__links-cols
        .h5 Бренды
        ul 
          li 
            a( href="" ) Ray-Ban
          li 
            a( href="" ) Dolce & Gabbana
          li 
            a( href="" ) Prada
          li 
            a( href="" ) Miu Miu
          li 
            a( href="" ) Vogue
          li 
            a( href="" ) Emporio Armani
          li 
            a( href="" ) Armani Exchange
          li 
            a( href="" ) Carrera
          li 
            a( href="" ) Polaroid
          li 
            a( href="" ) Versace
          li 
            a( href="" ) Ray-Ban
          li 
            a( href="" ) Dolce & Gabbana
          li 
            a( href="" ) Prada
          li 
            a( href="" ) Miu Miu
          li 
            a( href="" ) Vogue
          li 
            a( href="" ) Emporio Armani
          li 
            a( href="" ) Armani Exchange
          li 
            a( href="" ) Carrera
          li 
            a( href="" ) Polaroid
          li 
            a( href="" ) Versace
          li 
            a( href="" ) Ray-Ban
          li 
            a( href="" ) Dolce & Gabbana
          li 
            a( href="" ) Prada
        a.bj-page-header__sub-menu__bottom-link(href="") Все бренды

      .bj-page-header__sub-menu__links-cols
        .h5 Популярные модели
        ul 
          li 
            a( href="" ) Новая коллекция 2023
          li 
            a( href="" ) Ray Ban оригинал
          li 
            a( href="" ) Мужские
          li 
            a( href="" ) Женские
          li 
            a( href="" ) Зеркальные
          li 
            a( href="" ) Детские
          li 
            a( href="" ) GiGi Hadid
          li 
            a( href="" ) Недорогие очки
          li 
            a( href="" ) Круглые
          li 
            a( href="" ) Брендовые
          li 
            a( href="" ) Из поликарбоната
          li 
            a( href="" ) Фотохромные
          li 
            a( href="" ) Женские Ray Ban
          li 
            a( href="" ) Капли
          li 
            a( href="" ) Стеклянные
          li 
            a( href="" ) Бабочки
          li 
            a( href="" ) Кошачий глаз
          li 
            a( href="" ) Градиентные
          li 
            a( href="" ) Поляризационные
          li 
            a( href="" ) Большие
          li 
            a( href="" ) Новинки Ray Ban
          li 
            a( href="" ) Авиаторы
          li 
            a( href="" ) Антибликовые
          li 
            a( href="" ) Круглые мужские
          li 
            a( href="" ) Из натуральной кожи
          li 
            a( href="" ) Овальные
          li 
            a( href="" ) Для водителя
          li 
            a( href="" ) Спортивные

    .bj-page-header__sub-menu__gallery

      .swiper-container.swiper
        .swiper-wrapper
        
          .swiper-slide 
            a( href="" style="background-image: url('/upload/1.jpg');" )
            span.text-center Ray-Ban Aviator
        
          .swiper-slide 
            a( href="" style="background-image: url('/upload/1.jpg');" )
            span.text-center Ray-Ban Aviator
        
          .swiper-slide 
            a( href="" style="background-image: url('/upload/1.jpg');" )
            span.text-center Ray-Ban Aviator

        .swiper-pagination

        .swiper-button-prev
        .swiper-button-next