.ob-catalog-menu__block
  .ob-catalog-menu__item
    a.ob-catalog-menu__link(href='') Солнцезащитные очки
    .ob-catalog-menu-sub
      a(href='' class='ob-catalog-menu-sub__title')
        b Все солнцезащитные очки
      a(href='' class='ob-catalog-menu-sub__item') Alexander McQueen
      a(href='' class='ob-catalog-menu-sub__item') Andy Wolf
      a(href='' class='ob-catalog-menu-sub__item') Balenciaga
      a(href='' class='ob-catalog-menu-sub__item') Belstaff
      a(href='' class='ob-catalog-menu-sub__item') Bottega Veneta
      a(href='' class='ob-catalog-menu-sub__item') Boucheron
      a(href='' class='ob-catalog-menu-sub__item') Brioni
      a(href='' class='ob-catalog-menu-sub__item') Bvlgari
      a(href='' class='ob-catalog-menu-sub__item') Carrera
      a(href='' class='ob-catalog-menu-sub__item') Cartier
      a(href='' class='ob-catalog-menu-sub__item') Celine
      a(href='' class='ob-catalog-menu-sub__item') Chloe
      a(href='' class='ob-catalog-menu-sub__item') Chopard
      a(href='' class='ob-catalog-menu-sub__item') DITA
      a(href='' class='ob-catalog-menu-sub__item') Dior
      a(href='' class='ob-catalog-menu-sub__item') Dolce&amp;Gabbana
      a(href='' class='ob-catalog-menu-sub__item') Elie Saab
      a(href='' class='ob-catalog-menu-sub__item') Emilio Pucci
      a(href='' class='ob-catalog-menu-sub__item') Emporio Armani
      a(href='' class='ob-catalog-menu-sub__item') Ermenegildo Zenia
      a(href='' class='ob-catalog-menu-sub__item') Exchange Armani
      a(href='' class='ob-catalog-menu-sub__item') Fakoshima
      a(href='' class='ob-catalog-menu-sub__item') Fendi
      a(href='' class='ob-catalog-menu-sub__item') Fred
      a(href='' class='ob-catalog-menu-sub__item') George Keburia
      a(href='' class='ob-catalog-menu-sub__item') Giorgio Armani
  .ob-catalog-menu__item
    a(href='' class='ob-catalog-menu__link') Оправы
    .ob-catalog-menu-sub
      a(href='' class='ob-catalog-menu-sub__title')
        b Все оправы
      a(href='' class='ob-catalog-menu-sub__item') Alexander McQueen
      a(href='' class='ob-catalog-menu-sub__item') Andy Wolf
      a(href='' class='ob-catalog-menu-sub__item') Balenciaga
      a(href='' class='ob-catalog-menu-sub__item') Belstaff
      a(href='' class='ob-catalog-menu-sub__item') Bottega Veneta
      a(href='' class='ob-catalog-menu-sub__item') Boucheron
      a(href='' class='ob-catalog-menu-sub__item') Brioni
      a(href='' class='ob-catalog-menu-sub__item') Bvlgari
      a(href='' class='ob-catalog-menu-sub__item') Carrera
      a(href='' class='ob-catalog-menu-sub__item') Cartier
      a(href='' class='ob-catalog-menu-sub__item') Celine
      a(href='' class='ob-catalog-menu-sub__item') Chloe
      a(href='' class='ob-catalog-menu-sub__item') Chopard
      a(href='' class='ob-catalog-menu-sub__item') DITA
      a(href='' class='ob-catalog-menu-sub__item') Dior
      a(href='' class='ob-catalog-menu-sub__item') Dolce&amp;Gabbana
      a(href='' class='ob-catalog-menu-sub__item') Elie Saab
      a(href='' class='ob-catalog-menu-sub__item') Emilio Pucci
      a(href='' class='ob-catalog-menu-sub__item') Emporio Armani
      a(href='' class='ob-catalog-menu-sub__item') Ermenegildo Zenia
      a(href='' class='ob-catalog-menu-sub__item') Exchange Armani
      a(href='' class='ob-catalog-menu-sub__item') Fakoshima
      a(href='' class='ob-catalog-menu-sub__item') Fendi
      a(href='' class='ob-catalog-menu-sub__item') Fred
      a(href='' class='ob-catalog-menu-sub__item') George Keburia
      a(href='' class='ob-catalog-menu-sub__item') Giorgio Armani
  .ob-catalog-menu__item
    a.i-link(href='' class='ob-catalog-menu__link') Распродажа
  .ob-catalog-menu__item
    a(href='' class='ob-catalog-menu__link') Контактные линзы
    .ob-catalog-menu-sub
      a(href='' class='ob-catalog-menu-sub__title')
        b Все контактные линзы
      a(href='' class='ob-catalog-menu-sub__item') ADRIA
  .ob-catalog-menu__item
    a(href='' class='ob-catalog-menu__link') Аксессуары
    .ob-catalog-menu-sub
      a(href='' class='ob-catalog-menu-sub__title')
        b Все аксессуары
      a(href='' class='ob-catalog-menu-sub__item') Средства по уходу
      a(href='' class='ob-catalog-menu-sub__item') Цепочки для очков
      a(href='' class='ob-catalog-menu-sub__item') Чехлы для очков
      a(href='' class='ob-catalog-menu-sub__item') Шкатулки для очков
  .ob-catalog-menu__item
    a(href='' class='ob-catalog-menu__link') Распродажа
    .ob-catalog-menu-sub
      a(href='' class='ob-catalog-menu-sub__title')
        b Все распродажи
      a(href='' class='ob-catalog-menu-sub__item') Оправы
      a(href='' class='ob-catalog-menu-sub__item') Солнцезащитные очки
  .ob-catalog-menu__item
    a(href='' class='ob-catalog-menu__link') Очки по типам
    .ob-catalog-menu-sub
      span(class='ob-catalog-menu-sub__title')
        b Солнцезащитные очки
      a(href='' class='ob-catalog-menu-sub__item') Мужские
      a(href='' class='ob-catalog-menu-sub__item') Женские
      a(href='' class='ob-catalog-menu-sub__item') Детские
      a(href='' class='ob-catalog-menu-sub__item') Круглые
      a(href='' class='ob-catalog-menu-sub__item') Спортивные
      a(href='' class='ob-catalog-menu-sub__item') Кошачий глаз
      a(href='' class='ob-catalog-menu-sub__item') Авиаторы
      a(href='' class='ob-catalog-menu-sub__item') Овальные
      a(href='' class='ob-catalog-menu-sub__item') С поляризацией
      a(href='' class='ob-catalog-menu-sub__item') Зеркальные
      span(class='ob-catalog-menu-sub__title')
        b Оправы
      a(href='' class='ob-catalog-menu-sub__item') Женские Vogue
      a(href='' class='ob-catalog-menu-sub__item') Мужские
      a(href='' class='ob-catalog-menu-sub__item') Модные
      a(href='' class='ob-catalog-menu-sub__item') Детские
      a(href='' class='ob-catalog-menu-sub__item') Круглые
      a(href='' class='ob-catalog-menu-sub__item') Металлические
      a(href='' class='ob-catalog-menu-sub__item') Необычные
      a(href='' class='ob-catalog-menu-sub__item') Прозрачные
      a(href='' class='ob-catalog-menu-sub__item') Мужские Ray Ban
      a(href='' class='ob-catalog-menu-sub__item') Женские
      span(class='ob-catalog-menu-sub__title')
        b Популярные модели
      a(href='' class='ob-catalog-menu-sub__item') Мужские Prada
      a(href='' class='ob-catalog-menu-sub__item') Мужские Gucci
      a(href='' class='ob-catalog-menu-sub__item') Мужские Ray Ban
      a(href='' class='ob-catalog-menu-sub__item') Wayfarer
      a(href='' class='ob-catalog-menu-sub__item') Женские Ray Ban
      a(href='' class='ob-catalog-menu-sub__item') Aviator
      a(href='' class='ob-catalog-menu-sub__item') Clubmaster
      a(href='' class='ob-catalog-menu-sub__item') Junior
      a(href='' class='ob-catalog-menu-sub__item') Круглые Ray Ban
      a(href='' class='ob-catalog-menu-sub__item') Highstreet
  .ob-catalog-menu__item
    a(href='' class='ob-catalog-menu__link')
      i( style="background-image: url('/template/images/headers/header_optic-street/profile.svg')" )
      | Савельев Максим
    .ob-catalog-menu-sub
      a(href='' class='ob-catalog-menu-sub__item') Личные данные
      a(href='' class='ob-catalog-menu-sub__item') Мои заказы
      a(href='' class='ob-catalog-menu-sub__item') История заказов
      a(href='' class='ob-catalog-menu-sub__item') Профили заказов