.bj-page-header__sub-menu.i-dropdown
  ul 
    li 
      a( href="" ) Сертификаты
    li 
      a( href="" ) Примерочная
    li 
      a( href="" ) Новости
    li 
      a( href="" ) FAQ
    li 
      a( href="" ) Отзывы
    li 
      a( href="" ) Шоу-рум