// start /components/header_optic-street/

link( rel="stylesheet", href="/template/libs/swiper-bundle.min.css" )
script( src="/template/libs/swiper-bundle.min.js" )

link( rel="stylesheet", href="/components/header_optic-street/style.css" )
script( src="/components/header_optic-street/script.js" )

script
  | window.menuAjaxPath = '/components/header_optic-street/header-menu-mobile.html'

#headerOS
  header.bj-page-header.i-load
    section.bj-page-header__top
      .container-fluid
        .row

          .col-xs-3.col-sm-3.visible-sm-block.visible-xs-block
            a.ob-menu-sandwich.bj-nav-button( href='#' )
              span.bj-menu-icon( style="background-image: url( '/template/images/headers/header_optic-street/menu.svg' );" )
        
          .col-md-6.col-sm-6.col-xs-6.bj-logo-space
            span.bj-logo
              img( src='/template/images/logo-os.svg' width='220' alt='Optic Street' )

            span 
              include ../../components/header-address/template

            //-script
              | window.addEventListener('load', () => {
              |  //load header-address
              |  (async () => {
              |    try {
              |      let response = await fetch(`/components/header-address/template.html`);
              |     let html = await response.text();
              |     const headerAddress = document.createElement('span');
              |     headerAddress.innerHTML = html;
              |     document.querySelector('.bj-logo').after(headerAddress);
              |     let s = document.createElement('script'); s.src = "/components/header-address/script.js"; document.head.appendChild(s);
              |   } catch (err) {
              |     throw err;
              |   }
              |  })();
              | });
              
          .col-md-6.col-sm-3.col-xs-3.text-right

            span.bj-page-header__search
              form( action='/catalog/' )
                span.bj-page-header__search-icon( style=" background-image: url( '/template/images/headers/header_optic-street/search.svg' );" )
                input#title-search-input.bj-page-header__search__input.form-control(type='search', name='q', size='23', maxlength='50', autocomplete='off' value='' placeholder="Поиск по каталогу" )
                input(name='s', type='hidden', value='')
              .bj-page-header__search-close
          
            #personal_menu.bj-personal.hidden-sm.hidden-xs
              .bj-personal-icon( style="background-image: url( '/upload/logo-pomidor.jpg' );" )
              
            span#sale-basket-basket-line-container
              a#bx_cart_block.bj-cart-icon( href="/personal/cart/" )
                span.b-shopping-cart( style=" background-image: url( '/template/images/headers/header_optic-street/basket.svg' );" )
                span#bx_cart_num.bj-cart-icon__num 0
                
            a.bj-earphone-icon(href='#', data-toggle='modal', data-target='#myModal' )
              span( style="background-image: url( '/template/images/headers/header_optic-street/phone.svg' );" )
                        
    section.bj-page-header__sub.hidden-sm.hidden-xs
      .container-fluid
        .bj-page-header__sub-wrapper
          .bj-page-header__sub-item.i-menu
            a( href="/catalog/" ) Солнцезащитные очки
            include header-dropdown-sunglasses
          .bj-page-header__sub-item.i-menu
            a( href="/lookbook/" ) Оправы
            include header-dropdown-frames
          .bj-page-header__sub-item.i-menu.i-dropdown
            a( href="/catalog/" ) Распродажа
            include header-dropdown-sales
          .bj-page-header__sub-item
            a( href="/catalog/" ) Блог
          .bj-page-header__sub-item
            a( href="/catalog/" ) Доставка и оплата
          .bj-page-header__sub-item.i-menu.i-dropdown
            a( href="/catalog/" ) О компании
            include header-dropdown-about
          .bj-page-header__sub-item
            a( href="/catalog/" ) Контакты
    
    section#cartDropdown.bj-page-header__cart-dropdown( data-url="/ajax-response/header-cart-dropdown-ajax.html" data-method="GET" )
      .i-relative
          article
            .container-fluid
            .progress
              .indeterminate
    
    include header-user-dropdown
            
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
            |                   
            h2#myModalLabel.modal-title.text-center &Ncy;&acy;&shcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;
          |                 
          .modal-body.text-center
            .bj-text-x-large 8 (495) 212 85 06
            |                   
            .small &Pcy;&ncy;-&Vcy;&scy; 10-19
          |                 
          .modal-footer.text-center(style='display:none')
            button.btn.btn-default(type='button') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
  

#OBCatalogMenu
  .limiter.ob-catalog-menu
    .ob-catalog-menu__title

.ob-search-result( style="top: 415px; left: 0; display: none;" )
  a(href="") Солнцезащитные <b>очк</b>и
  a(href="") Стеклянные очки
  a(href="") Очки Emporio Armani
  a(href="") Очки Emporio Armani


// end /components/header_optic-street/